<link rel='stylesheet' href='/css/handlebarsPartials/postcard.css' />
<div class='postcard theme-d3'>
  <div class='postcard-title'>
    <h2 class='flex-initial pr-2.5'>
      {{title}}
    </h2>
  </div>

  <p class='flex-initial pr-2.5'>Posted by
    {{post.user.pet_name}},
    {{post.user.user_name}}
    {{!-- {{post.user.species}}, --}}
    {{!-- {{post.user.breed}} --}}
    {{post.createdAt}}</p>
  <img src='{{post.image_url}}' />
  <br />
  <p class='flex-initial pr-2.5'>{{description}}</p>
</div>