<div class='postcard'>
  <div class='flex-initial pr-2.5'>
    <h2 class='flex-initial pr-2.5'>
      {{title}}
    </h2>
  </div>
  <hr />
  <br />

  <p class='flex-initial pr-2.5'>Posted by
    {{user.pet_name}},
    {{user.species}},
    {{user.breed}}
    on
    {{date_created}}</p>
  <img src='{{image_url}}' />
  <br />
  <p class='flex-initial pr-2.5'>{{description}}</p>
</div>