<link rel='stylesheet' href='/css/pages/profile.css' />
<div class='profile-sidebar theme-d3'>
  <div class='profile-section'>
    <h1 class='profile-title'>My Profile</h1>
    <p>Username: {{user_name}}</p>
    <p>Email: {{email}}</p>
    <div class='update-buttons'>
      <a href='/profile'>
        <button class='link-btn theme-d5'>My Posts</button>
      </a>
      <a href='/update-username/'>
        <button class='link-btn theme-d5'>Change your username</button>
      </a>
      <a class='link-btn theme-d5' href='/update-email/'>
        <button>Update your email address</button>
      </a>

      <a class='link-btn theme-d5' href='/update-password/'>
        <button>Change your password</button>
      </a>
    </div>
  </div>
  <div class='profile-section'>
    <h2 class='profile-title'>My Pet</h2>
    <p class='mx-1 my-0.5'>Name: {{pet_name}}</p>
    <p class='mx-1 my-0.5'>Species: {{species}}</p>
    <p class='mx-1 my-0.5'>Breed: {{breed}}</p>
    <a class='link-btn theme-d5' href='/update-pet/'>
      <button>Update Pet</button>
    </a>
  </div>
</div>